<div class="container wow fadeInRight">
    <h4>Kiểm Tra Vé</h4>
    <br>
    <div class="blockquote font-weight-light lead wow fadeInUp">
        <small>Theo quy định của Tổng công ty Đường sắt Việt Nam, hành khách có thông tin giấy tờ tùy thân trùng với thông tin trên vé điện tử mới đủ điều kiện vào ga lên tàu.
          <br> Để đảm bảo quyền lợi cho hành khách, tránh mua phải vé giả, hoặc vé không đúng với quy định,
        quý khách có thể kiểm tra lại vé điện tử của mình bằng cách điền đầy đủ các thông tin dưới đây.
      </small>
    </div>
    <br>
    <form action="">
        <div class="row col-sm-12 mx-auto">
            <div class="col-sm-6">
                <tr>
                    <td>
                        <dt>Mã Vé</dt>
                    </td>
                    <td>
                        <div class="col-12 mt-3">
                            <input type="text" class="form-control pr-5 mr-5" placeholder="Nhập mã vé gồm 8 kí tự">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dt>Ga Đến</dt>
                    </td>
                    <td>
                        <div class="col-12 mt-3">
                            <input type="text" class="form-control" placeholder="Nhập Mã Ga Đến">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dt>Ga Đi</dt>
                    </td>
                    <td>
                        <div class="col-12 mt-3">
                            <input type="text" class="form-control" placeholder="nhập mã ga đi">
                        </div>
                    </td>
                </tr>
            </div>
            <div class="col-sm-6">
                <tr>
                    <td>
                        <dt>Mác Tàu</dt>
                    </td>
                    <td>
                        <div class="col-12 mt-3">
                            <input type="text" class="form-control pr-5 mr-5" placeholder="ví dụ : SEA,SE2,SE3...">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dt>Ngày Đi</dt>
                    </td>
                    <td>
                        <div class="col-12 mt-3">
                            <input type="date" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dt>Số giấy tờ</dt>
                    </td>
                    <td>
                        <div class="col-12 mt-3">
                            <input type="text" class="form-control" placeholder="Nhập giấy tờ cá nhân ghi trên vé">
                        </div>
                    </td>
                </tr>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success mx-auto mt-4 mb-4 float-right">Kiểm Tra Vé</button>
            </div>

        </div>
    </form>
</div>